<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login to My Music</title>
<link rel="stylesheet" href="static/extra/bootstrap.min.css">
<script src="static/extra/jquery.min.js"></script>
<script src="static/extra/bootstrap.min.js"></script> 
<style type="text/css">

  .login-form {
    width: 340px;
      margin: 50px auto;
  }
    .login-form form {
      margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body background="static/pics/2.jpg">
<div class="login-form" style="float:left; margin-left: 10px;">
    <form action="/login" method="post">
<h2 href="#" class = "text-center" style = "color : #ff2469">MyMusic</h2>
        <div class="form-group">
            <input type="email"  id="username"  name="username" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label><br>
            <span style = "color : red">{{message}}</span>
        </div>        
    </form>
    <p class="text-center"><a href="/register">Create an Account</a></p>
</div>
</body>
</html>                                                               